/* General styles for larger screens */
nav {
    display: flex;                  /*Use Flexbox to align items*/
    justify-content: space-between; /*This will push items to the left and right*/
    align-items: center;            /*Verically align items in the center position*/
    background-color: #A5B8B6;

    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.mm_logo {
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#monthly {
    font-size: 1.75em;
    color: black;
}

#moments {
    font-size: 1.3em;
    color: white;
}

.top_menu {
    margin-left: 30px;
    font-size: 1.2em;
    color: black;
    text-decoration: none;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    
}

.main-body {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.video_body {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 80vh;
    z-index: -1;
    overflow: auto;
}

.video_body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(194, 180, 180, 0.75);
    z-index: 0;
}

#video_banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Content overlaying the video */
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: rgba(194, 180, 180, 0.75);
    border-radius: 40px;
    margin: 10px;
    height: 75%;
    width: 75%;
    overflow: hidden;

    display: flex;
    justify-content: space-between; /* Space between items, optional if you want them exactly side by side */
}

.left, .right { /* Targeting both .left and .right divs */
    flex: 1;               /* Distribute equal space to both */
    padding: 20px;         /* Optional: Adds padding for content inside each div */
    /* border: 1px solid black; */
    text-align: center;    /* Optional: Centers the text inside the divs */
}


.banner-content h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: "Aboreto", system-ui;
    padding-top: 1em;
    overflow: visible;
}

.banner-content p {
    padding-top: 1em;
    font-size: 1.1em;
    font-family: 'Times New Roman';
    text-align: center;
    padding: 1em;
    margin: 1em;
    overflow: visible;
}



/* Ensure the video-container takes the full height and width */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    max-width: 100%;
}

.youtube {
    border: 5px solid white;
    border-radius: 5px;
    max-height: 25vh;
    width: 100%;
    height: auto;
    margin-bottom: 3em;

}

/* Footer content styling */
.footer {
    background-color: #A5B8B6;
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
    color: white;
}

p {
    font-family: 'Times New Roman', Times, serif;
}
/* Media Queries for smaller screens */

/* Adjust layout for smaller screens (max-width: 768px) */

/* Adjust layout for extra small screens (max-width: 480px) */
@media (max-width: 1577px) {
    .banner-content {
        flex-direction: column; /* Stack the items vertically */
        align-items: center; /* Optionally center align the items */
        overflow-y: auto;
    }


}


